//META{"name":"BB Minimalism","description":"Fate/Extra CCC Theme","author":"Ax","version":"1"}*//{}
@import url(https://gitcdn.xyz/repo/Axx01/BetterDiscord-Themes/master/Base.css); 


:root {
   --bgimage: url(http://thats-a.link/59w1ARU.png);
   --Primary-Color: #2f3136;
   --Primary-Transparency-Color: 255, 255, 255;
   --Secondary-Color: #2f3136;
   --Secondary-Transparency-Color: 255, 255, 255;
}


/* Adjustments */

.theme-dark .isMentioned-N-h9aa {
    background: rgba(210, 210, 210,.1);
    border: 2px solid rgba(210, 210, 210,0.33);
}
.theme-dark .guild-1EfMGQ .guildInner-3DSoA4 {
    background: url(http://thats-a.link/59w1ARU.png);
    background-size: cover;
	background-attachment: fixed !important;
}

.th eme-dark .guild-1EfMGQ {
    border: 2px solid white;
    border-radius: 100%;
    padding: 3px;
}
.theme-dark .member-3W1lQa.popout-open .content-OzHfo4, .theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4 {
    background-color: rgba(var(--Primary-Transparency-Color), 0.2);
}
.layers-3iHuyZ, .layer-3QrUeG, .container-2lgZY8, .typing-2GQL18 {
	background: transparent !important;
}

.layers-3iHuyZ {
	background: rgba(0, 0, 0, .55) !important;
}
.appMount-3VJmYg, .app-19_DXt {
	background-color: transparent;
}
.channels-Ie2l6A, .theme-dark .title-3qD0b-, .container-PNkimc, .container-2lgZY8, .guilds-wrapper, .theme-dark .chat form .typing, .theme-dark .chat form, .theme-dark .chat>.content, .theme-dark .chat, .chat .messages, .theme-dark .friends-table, .theme-dark .messages-wrapper, .theme-dark #friends, .theme-dark .headerBar-UHpsPw, .theme-dark .ui-standard-sidebar-view {
	background-color: transparent;
}
.theme-dark .ui-standard-sidebar-view .content-region, .theme-dark .ui-standard-sidebar-view .sidebar-region {
	background: rgba(0, 0, 0, 0.2);
}
.nameLockedText-3pqQcL, .nameLockedVoice-26MhB1 {
	color: #a2a9b5 !important;
}
.theme-dark .guild-1EfMGQ.selected-ML3OIq:before, 
.guild-1EfMGQ.selected-16te-P.unread-qLkInr:before,
.theme-dark .guild-1EfMGQ.unread-qLkInr:before {
	background: gray;
}
.theme-dark .message-group .comment .markup {
	color: #FFFFFF !important;
}
.avatar-3EQepX, .popout-2fzvxG:not(.avatarStatus-3Ay1VL) {
    background-color: rgba(var(--Primary-Transparency-Color), 0.0);
}
.scroller-wrap .scroller::-webkit-scrollbar, .scroller-wrap .scroller::-webkit-scrollbar-track-piece {
	background: rgba(0, 0, 0, .3) !important;
	border-radius: 0;
	border: 0;
}
.scroller-wrap .scroller::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, .1) !important;
	border-radius: 0;
}
.scroller-wrap .scroller::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, .6) !important;
	border-radius: 0;
	border: 0;
}
.searchBar-2_Yu-C.searchBarLight-1NxoDG input {
    color: #FFFFFF;
}
.guilds-wrapper .guilds .guild {
	border: 2px solid white;
	border-radius: 100%;
	padding: 3px;
}
.guilds-wrapper {
	padding-right: 20px;
}
.guilds-wrapper .guilds::-webkit-scrollbar {
	display: none;
}

.guilds-wrapper .guilds #bd-pub-li{
    border: 0 solid black;
}
.guilds-wrapper .guilds #bd-pub-li .guild-inner{
    border-radius: 5px !important;
}
.theme-dark .activityFeed-28jde9 {
    background-color: rgba(0, 0, 0, 0);
}
.searchResults-2J8dju, .theme-dark .searchResultsWrap-2DKFzt .searchResults-2J8dju .hit-NLlWXA, .theme-dark .searchHeader-1l-wpR, .resultsWrapper-hoiXCY, .theme-dark .searchResult-3pzFAB.expanded-v2Szsz, .theme-dark .searchResult-3pzFAB.expanded-v2Szsz .searchResultMessage-2VxO12.hit-NLlWXA {
  box-shadow: none !important;
  background: rgba(0,0,0,.7) !important;
  border-color: transparent !important;
}
.pagination-eQpqgk {
  color: #FFFFFF !important;
}

.searchResultsWrap-2DKFzt .channelSeparator-1X1FuH{
 text-align: center;   
}

.theme-dark .body-SKIE6r {
    background-color: rgba(0,0,0,.5);
}
.bd-blue .mention {
    color: #7289da;
}
.small-popout-box {
	background-color: rgba(0,0,0,.7);
	border: 0px;
}

.searchBar-2_Yu-C.searchBarLight-1NxoDG input::placeholder {
    color: #FFFFFF;
}


.theme-dark .markup-2BOw-j pre {
    background: rgba(0, 0, 0, .7);
}

.theme-dark .markup-2BOw-j code, .theme-dark .markup-2BOw-j code.inline {
    background: rgba(0, 0, 0, .7);
}


.guild-1EfMGQ.unread-qLkInr {
    border-color: black !important;
}

.theme-dark .chat-3bRxxu {
    background-color: rgba(0, 0, 0, 0.0);
}
.theme-dark .guildsWrapper-5TJh6A{ 
    background: transparent !important;
}
.theme-dark .messagesWrapper-3lZDfY {
    background-color: transparent !important;
}
.newMessagesBar-mujexs,
.theme-dark .jumpToPresentBar-9P20AM {
    background-color: #0d0d0d !important;
    color: #dcddde;
}
.recentMentionsPopout-2fmau1 .header-3LXPrb {
    background-color: rgba(0,0,0,.7);
}
.theme-dark .messageGroupWrapper-o-Zw7G {
    background-color: rgba(0,0,0,0);
	border-width: 0px;
}

.theme-dark .header-ykumBX {
    background-color: rgba(0,0,0,.7);
}
.theme-dark .members-1998pB {
	background:transparent;
}
.uploadModal-2ifh8j {
    background-color: rgba(0,0,0,0.23);
    box-shadow: 0 0 6px 2px var(--Primary-Color);
}
.uploadModal-2ifh8j .footer-3mqk7D {
    background-color: transparent;
    display: block;
}
.uploadModal-2ifh8j .inner-3nWsbo {
    border: none;
}		
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
    background-color: var(--Primary-Color);
    background-size: cover;
    border: 3px solid var(--Primary-Color);
    box-sizing: border-box;
    height: 134px;
    margin-left: 16px;
    margin-right: 12px;
    margin-top: -35px;
    width: 134px;
}
.lookInverted-2D7oAl.colorBrand-3pXr91 {
    background-color: rgb(255, 255, 255) !important;
    color: #24272b !important;
}

.theme-dark .inner-zqa7da {
    --c:12,12,12;
    --o:0.7;
    background:rgba(var(--c),var(--o));
    color:#fffff;
}

.theme-dark .textArea-2Spzkt {
    color: #ffffff;
}
.theme-dark .container-2Thooq, .theme-light .container-2Thooq {
    background:transparent;
    box-shadow:none;
}
.theme-dark .layer-3QrUeG, .theme-dark .layers-3iHuyZ {
    background: rgba(0,0,0,0.42);
}

.theme-dark .standardSidebarView-3F1I7i {
    background: rgba(0,0,0,0.42);
}

.theme-dark .sidebarRegion-VFTUkN, .theme-dark .contentRegion-3nDuYy {
    background: rgba(0,0,0,0.3);
}

.ace-monokai, .editor {
    background: linear-gradient(336deg, rgba(0, 0, 0, 1), rgba(var(--Primary-Transparency-Color),0.2));
    color: white;
}
.ace-monokai .ace_gutter {
    background: transparent;
    color: #dcddde;
}

.content-region #bd-customcss-attach-controls, #bd-customcss-detach-container #bd-customcss-attach-controls {
    background: rgba(var(--Primary-Transparency-Color),0.2);
    box-shadow: none;
    text-shadow: 0 0 1px black;
}

.standardSidebarView-3F1I7i #bd-customcss-attach-controls button {
    background: var(--Primary-Color);
}
.side-8zPYf6 .itemSelected-1qLhcL, .theme-dark .theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected {
    background-color: var(--Primary-Color) !important;
}

.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected {
    background-color: var(--Primary-Color) !important;
}
.ace_content {
    background: transparent;
}

.lookOutlined-3sRXeN.colorRed-1TFJan, .side-8zPYf6 .item-PXvHYJ[style*="color: rgb(240, 71, 71);"], .lookFilled-1Gx00P.colorRed-1TFJan {
    border: none;
    color: white !important;
    background-color: gray !important;
    box-shadow: 0 0 14px 5px rgba(255,255,255		,0.22) !important;
    transition: background-color .6s ease, box-shadow .6s ease;
}

.lookFilled-1Gx00P.colorBrand-3pXr91, .lookFilled-1Gx00P.colorBrand-3pXr91:disabled {
    background-color: var(--Primary-Color);
    color: #fff;
    animation: bluebutton 1.3s linear infinite;
}

.theme-dark .chat-3bRxxu {
    background-color: rgba(0, 0, 0, 0.0);
}

.theme-dark .chat-3bRxxu, .theme-dark .chat-3bRxxu form, .theme-dark .content-yTz4x3 {
    background-color: transparent !important;
}

.theme-dark .guildsWrapper-5TJh6A{ 
    background: transparent !important;
}

.theme-dark .messagesWrapper-3lZDfY {
    background-color: transparent !important;
}

.theme-dark .markup-2BOw-j {
    color: #ffffff;
}

.theme-dark .messageGroupBlocked-3wrQQX {
    display:none;
}


.theme-dark .gameLibrary-TTDw4Y {
    background: rgba(0, 0, 0, 0.0);
}
.theme-dark .gameUpdates-2GPqBU {
   background: rgba(0, 0, 0, 0.0);
}
.theme-dark .header-39GIC8 {
    background-color: rgba(0, 0, 0, 0.0);
}
.theme-dark .applicationStore-1pNvnv {
    background-color: rgba(0, 0, 0, 0.0);
}

.containerCozyBounded-1rKFAn {
    overflow: visible;
}
.imageWrapper-2p5ogY img {margin-left:0px;}

.theme-dark .headerCozyMeta-rdohGq {
    margin-left:30px
}

.theme-dark .dividerEnabled-2TTlcf {
    padding-top: 10px;
}

.buttons-205you .buttonWrapper-1ZmCpA[tabindex="2"] {
  display: none !important;
}
.theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3 {
    background-color: var(--Primary-Color);
}


.badge, .wrapper-232cHJ {
    background-color: var(--Primary-Color);
    border-radius: 50px;
    padding: 6px 9px;
    text-shadow: 0 0 0px rgba(0,0,0,1);
    box-shadow: 0 0px 0 rgba(0,0,0,.25);
    webkit-box-shadow: 0 0px 0 rgba(0,0,0,.25);
}

.theme-dark .hljs-variable, .theme-dark .hljs-template-variable, .theme-dark .hljs-tag, .theme-dark .hljs-name, .theme-dark .hljs-selector-id, .theme-dark .hljs-selector-class, .theme-dark .hljs-regexp, .theme-dark .hljs-meta {
    color: #dc3958;
}

.theme-dark .hljs-comment, .theme-dark .hljs-quote {	
    color: #a57a4c;
}

.colorUnreadText-2t7XRb, .colorUnreadVoice-137o4S {
    color: gold;
}
/**/

.theme-dark .container-3ayLPN {
    background: linear-gradient(15deg, #000, var(--Primary-Color));
}
.theme-dark .searchOption-zQ-1l6 .filter-3Y_im-, .theme-dark .resultsGroup-r_nuzN .header-2N-gMV {
    color: white;
    font-weight: 300;
    text-shadow: 0 0 0px black;
}
.option-96V44q span {
    overflow: visible;
}
.theme-dark .option-96V44q.selected-rZcOL- {
    background-color: var(--Secondary-Color);
}
.theme-dark .option-96V44q:after, .theme-dark .option-96V44q.selected-rZcOL-:after {
	background: rgba(0,0,0,0)
}
.option-96V44q {
    font-size: 15px;
}
.theme-dark .dim-1l4L4y span {
    background-color: var(--Primary-Color);
    color: white;
}
.theme-dark .keybindShortcut-1BD6Z1 span {
    background: linear-gradient(33deg, rgba(0, 0, 0, 1), rgba(var(--Primary-Transparency-Color),0.4));
    border: none;
    box-shadow:  0 0 0px 1px rgba(0,0,0,0.6);
    color: white;
	padding-top: 6px;
}
.theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3 {
    background-color: var(--Primary-Color);
}
.theme-dark .resultsGroup-r_nuzN:before {
    border-top: none;
}
.theme-dark .searchQuery-1B7rtx .searchFor-3W5Vad strong,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day-name,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__current-month {
    color: white;
}
.theme-dark .searchQuery-1B7rtx {
    color: silver;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header {
    background: linear-gradient(155deg, var(--Primary-Color), var(--Secondary-Color));
	width: 323px;
	margin-left: -14px;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__current-month,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day-name,
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hint-165cR4 {
    text-shadow: 0 0 1px black;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month {
    background-color: transparent;
    color: #f6f6f7;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month:hover {
    background-color: rgba(0,0,0,0.73);
    color: rgb(255,0,0);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--disabled,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled {
    background-color: rgba(var(--Primary-Transparency-Color), 0.73);
    color: gray;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled:hover {
    background-color: rgba(var(--Primary-Transparency-Color), 0.73);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after {
    background-color: transparent;
}
.calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected {
    background: var(--Secondary-Color);
    box-shadow: 0 0 0px black;
    transition: box-shadow .6s;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day:hover {
    background-color: rgba(255,255,255,0.1);
    color: #fff;
    box-shadow: 0 0 0px black
}
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw {
    border-top: none;
}
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z {
    background-color: rgba(var(--Primary-Transparency-Color), 0.5);
    color: #fff;
    box-shadow: 0 0 0px black;
}
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z:hover {
    background-color: var(--Secondary-Color);
    color: #fff;
    box-shadow: 0 0 0px white
}
.datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z {
    border-radius: 3px;
    font-size: 12px;
    font-weight: 300;
    padding: 0 5px;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--next, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--previous {
    border-color: rgba(24, 25, 28, 0.37);
	margin-left: 10px;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:hover {
   background: var(--Secondary-Color);
   box-shadow: 0 0 px white;
}
.calendarPicker-2yf6Ci .react-datepicker__month {
    padding-bottom: 9px;
	margin: .4rem;
}
.theme-dark .search-results-wrap .channel-separator:before {
    border-color: transparent;
}
.theme-dark .search-results-wrap .search-result:before,
.theme-dark .search-results-wrap .search-result:after {
    background-image: none;
}
.search-results-wrap .search-header .tab, .search-results-wrap .search-header .total-results {
    opacity: .7;
    text-shadow: 0 0 1px black;
}
.theme-dark .search-results-wrap .channel-separator .channel-name {
    background-color: rgba(var(--Primary-Transparency-Color), 0.2);
    text-shadow: 0 0 1px black;
	border-radius: 3px;
}
.search-results-wrap .channel-separator .channel-name {
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 200;
    padding: 6px 14px;
}
.theme-dark .search-results-wrap .search-result .search-result-message.hit {
    border: none;
	background-color: rgba(0,0,0,0.25);
}
.theme-dark .search-results-wrap .search-result .hit {
    background-color: var(--Primary-Color);
    box-shadow: inset 0 0 0px 0px black;
}
.theme-dark .search-results-wrap .search-result.expanded {
    border: none;
}
.theme-dark .search-results-wrap .search-result.expanded .search-result-message.hit {
    background-color: rgba(0,0,0,0.5);
    border: none;
}
.theme-dark .search-results-wrap .search-result .markup-2BOw-j,
.need-help-modal.form.deprecated .header h1 {
    color: #dcddde;
    text- shadow: 0 0 1px black;
}


.item-1GzJrl, .separator-2zcjq8 {
	background: rgba(0,0,0,0.7);
}

.theme-dark .separator-2zcjq8 {
	display:none;
}
#bda-qem-twitch-container, #bda-qem-favourite-container, .emoji-picker, .emojiPicker-3m1S-j {
    background: linear-gradient(351deg, #000000, var(--Primary-Color));
    border: none;
}

.emojiPicker-3m1S-j .header-1nkwgG .searchBar-2pWH0_ {
	background-color: rgba(0,0,0,0);
}
.emojiPicker-3m1S-j .stickyHeader-1SS0JU {
	background-color: rgba(0,0,0,0);
}

.bda-dark .emoji-picker .category, .bda-dark .emojiPicker-3m1S-j .category-2U57w6 {
	background-color: rgba(0,0,0,0);
}
.emojiPicker-3m1S-j .category-2U57w6 {
	background-color: rgba(0,0,0,0);
}
.bda-dark .emoji-picker .scroller::-webkit-scrollbar, .bda-dark .emoji-picker .scroller::-webkit-scrollbar-track, .bda-dark .emoji-picker .scroller::-webkit-scrollbar-track-piece, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track-piece {
	background-color: transparent;
	border: none;
}
.emojiPicker-3m1S-j .scroller-3vODG7 {
    height: 500px;
}

.theme-dark .autocomplete-1vrmpx {
    background: linear-gradient(351deg, #000000, var(--Primary-Color));
}

.theme-dark .contentTitle-2tG_sM {
    color: #FFFFFF;
}
.theme-dark .searchBar-1MOL6S .input-3Xdcic::placeholder {
    color: #FFFFFF;
}

.themeDefault-24hCdX.valueChecked-m-4IJZ, #bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked {
    background-color: var(--Primary-Color) !important;
}

.headerSpotify-zpWxgT, .theme-dark .headerNormal-T_seeN, .theme-dark .modal-3HD5ck, .theme-dark .footer-2yfCgX, .theme-dark .topSectionNormal-2-vo2m, .topSectionSpotify-1lI0-P, .topSectionPlaying-1J5E4n, .headerPlaying-j0WQBV {
    background: linear-gradient(351deg, #000000, var(--Primary-Color));
}

.theme-dark .body-3iLsc4, .theme-dark .body-3ND3kc {
	background-color: rgba(0,0,0,0.34);
}

.theme-dark .headerNormal-T_seeN, .theme-dark .topSectionNormal-2-vo2m {
    background-color: var(--Primary-Color);
	background: linear-gradient(351deg, #000000, var(--Primary-Color));
}
.theme-dark .body-3iLsc4, .theme-dark .body-3ND3kc {
    background-color: rgba(0,0,0,.75);
    color: white;
}
.theme-dark .footer-1fjuF6 {
    background-color: rgba(0,0,0,.75);
    border: 0;
    border-radius: 0 0 5px 5px;
    color: white;
}

.theme-dark.contextMenu-HLZMGh {
    background: linear-gradient(15deg, #000, var(--Primary-Color));
    box-shadow: 0 0 1px rgba(0,0,0,.82), 0 1px 4px rgba(0,0,0,.1);
}

.theme-dark .quickMessage-1yeL4E {
    background-color: rgba(0,0,0,0.23);
    border-color: transparent;
    color: white;
}

.theme-dark .emptyResultsWrap-3Kv0LQ, .theme-dark .errorWrap-MWdRCA {
    background: linear-gradient(15deg, #000, var(--Primary-Color));
}

.theme-dark .channelSeparator-1X1FuH .channelName-1QajIf {
    background-color: transparent;
    color: #ffffff;
}
.header-2o-2hj {
    background: transparent;
    box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
}
.contentSelectedText-3wUhMi, .contentSelectedVoice-1WDIBM {
    background-color: rgba(79,84,92,.6);
}
.theme-dark .member-3W1lQa:hover .content-OzHfo4 {
	background-color: rgba(var(--Primary-Transparency-Color), 0.3);
}
.contentConnectedVoice-qL-YrL:active, .contentHoveredText-2D9B-x, .contentHoveredVoice-3p_NEO:active, .contentSelectedVoice-1WDIBM:active {
    background-color: #61636a;
}
.theme-dark .connectedAccount-36nQx7 {
    background-color: transparent;
    border-radius: 4px;
}
.content-OzHfo4 {
    margin-bottom: -2px;
    margin-left: 0px;
}
::-webkit-scrollbar-thumb {border:2px solid gray !important;background-color:gray !important;} 
.scrollerWrap-2su1QI .scroller-2FKFPG::-webkit-scrollbar{width:10px!important;}
::-webkit-scrollbar, ::-webkit-scrollbar-track-piece,::-webkit-scrollbar-track {border-color: transparent !important; background: transparent !important;} 
